@import "../../colors.scss";

#the-header {
  background: var(--main-theme-light);
  display: flex;
  align-items: center;
  height: 55px;

  #logo-wrapper {
    width: 200px;
    background: var(--main-theme-light);
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;

    #logo {
      width: 40px;
    }
  }

  #title-space {
    margin-left: 20px;
    font-weight: bold;
    color: var(--main-theme-foreground);
  }
}