@import "../../colors.scss";

#the-navigator {
  background: var(--main-theme);
  width: 100%;
  height: calc(100vh - 55px);
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  a, .router-link {
    height: 60px;

    padding: 0 10px;
    margin: 5px 0;
    text-decoration: none;

    .unicon {
      margin-top: -20px;
      padding-right: 10px;
      height: 30px;
    }

    &:hover {
      opacity: 0.6;
      background: var(--main-theme-light);
      cursor: pointer;
    }

    &.bottom {
      margin-top: auto;
    }

    .nav-item {
      color: white;
      display: flex;
      line-height: 60px;
      align-items: center;
    }
  }

  #profile-indicator {
    display: flex;
    align-items: center;
    padding: 10px 0;
    height: 60px;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
      background: var(--main-theme-light);
      cursor: pointer;
    }

    #username {
      color: white;
      font-weight: bold;
    }

    #role {
      color: #ddd;
      margin-top: -6px;
    }

    img {
      margin: 0 10px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
}