@import "colors.scss";

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  min-height: 100vh;
}

input, button {
  border-radius: 0;
  border: 1px solid gray;
  padding: 5px;
}

button {
  cursor: pointer;
  border: 0;
  font-weight: bold;
  padding: 5px 40px;

  &.spacing {
    margin-right: 8px;
  }

  &.text {
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-right: 12px !important;

    .unicon {
      margin-top: 4px;
      margin-right: 6px;
    }
  }

  &:hover {
    opacity: 0.5;
  }

  // Action buttons
  &.delete, &.edit, &.add, &.main {
    padding: 5px 8px;
  }

  &.main {
    background: $color-main;
    color: white;
  }

  &.add {
    background: $color-green;
    color: white;
  }

  &.delete {
    background: $color-red;
    color: white;
  }

  &.edit {
    background: $color-blue;
    color: white;
  }

  &.big {
    padding: 10px 20px;
    font-size: medium;
  }
}

button.txt-icon {
  display: inline-flex;
  align-items: center;

  .unicon {
    margin-right: 10px;
  }
}

select {
  border: none;
  outline: none;
  background: $color-green;
  color: white;
  font-weight: bold;
  height: 38px;
  padding: 5px 8px;
  margin-top: -10px;
  position: relative;
  top: -6px;
}